body {
    background-color: #262626;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.center-aligned{
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: #ffffff;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    line-height: 8px;
    display: grid;
    place-content: center;
}

line-space {
    line-height: 40px;
}

.corners {
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 250px;
    height: 150px;
  }


@font-face {
    font-family: 'bmwfont';
    src: url('bmwfont-webfont.woff2') format('woff2'),
         url('bmwfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
  }

  li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    border-radius: 20px;
    width: 100%;
    top: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(106, 108, 108)
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(144, 144, 144)
}