body {
    background-image: url(https://i.postimg.cc/RZS7Y6sb/image.png);
    height: 5000px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);  
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-family: bmwfont;
}

p {
    color: white;
}

a {
    color: white;
    font-family: bmwfont;
    font-size: large;
    text-decoration: none;
}

a:hover {
    color: rgb(149, 149, 149);
    text-decoration: underline;
}

.bg-text{
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: top;
    top: 500px;
    left: 50%;
    z-index: 2;
    width: auto;
    padding: 20px;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

@font-face {
    font-family: 'bmwfont';
    src: url('bmwfont-webfont.woff2') format('woff2'),
    url('bmwfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.directlink {
    color: rgb(0, 255, 0);
}

.xapk {
    text-decoration: underline;
}